extends layout.pug
block content
  div.numAnswers
    h2 Ask a Question
  div.mceContainer
    div.mceErrors
    div.mceBox



        form(id="testForm" method="post" )
          input(type='hidden' name='_csrf' value=csrfToken)
          label() SUBJECT:
          input(id= "subject" type="text" name="subject" required value=questionSubject).mceSubject
          textarea(id="questionText" required value=questionText)
        div
            button(type="submit" id="postQuestion" style="display:inline-block").mceSubmit SUBMIT QUESTION
        script(src="https://cdn.tiny.cloud/1/241bsi4zsamorjiqpwh40svv455sqtdn98rmzlmvputgv1uf/tinymce/5/tinymce.min.js" referrerpolicy="origin")
        script(type="text/javascript" src="/js/add-question.js")
