doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet")
    link(rel="stylesheet" type='text/css' href="/style.css")
    script(src='../js/logout.js')
    title Core Dump - Welcome
  body.gradient
    div.wrapper
      div.leftbar
        p.logobox-orange
        p.logobox-white-border
        p.logobox-back-logo
        a(href='/').logo-text COREDUMP
        div.menu
          a(href='/').home Home
          div.public PUBLIC
            p
            a(href='/main').submenu-questions Recent Questions
            p
            a(href='/users').submenu-users Users

      div.center
        span.search
          form(method='post' action='/search')
            label(for='search')
            input(type='text' name='search' placeholder='search coredump' required).input-search
            input(type='submit' name='searchBtn').btn-search
          if !signedIn
            a(href='/login').login Login
            a(href='/signup').signup Sign Up
          else
            span.logout Log Out
            span.navbar-text Welcome User!
          a(href='/')
          span.avatar
        div.main-box
        block content
    div.footer
      p © Copyright: App Academy Group Project - July Cohort 2020
