doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type='text/css' href="/style.css")
    title Core Dump - Welcome
  body.gradient2
    div.wrapper
      div.leftbar
        p.logobox-a
        p.logobox-b
        p.logobox-c
        a(href='/').logo COREDUMP
      div.center
        span.search
          form(action='/search' method='post')
            label(for='search')
            input(type='text' name='search' placeholder='search coredump' required).input-search
            input(type='submit' name='searchBtn').btn-search
          a(href='/login').login Login
          a(href='/signup').signup Sign Up
          a(href='/')
          span.avatar
        p.line
        block content
    div.footer
      p © Copyright: App Academy Group Project - July Cohort 2020
