doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type='text/css' href="/style.css")
    title Core Dump - Welcome
  body.gradient2
    div.wrapper
      div.leftbar
        p.logobox-a
        p.logobox-b
        p.logobox-c
        a(href='/').logo COREDUMP
        div.menu
          a(href='/').home Home
          div.public PUBLIC
            p
            a(href='/main').submenu-questions Recent Questions
            p
            a(href='/user').submenu-users Users

      div.center
        span.search
          form(method='post' action='/search')
            input(type='text' class='input-search' placeholder='search coredump' name='searchBtn' required)
            input(type='submit').btn-search
            a(href='/login').login Login
            a(href='/signup').signup Sign Up
            a(href='/')
            span.avatar
        div.main-box
            block content
        div.footer
            p © Copyright: App Academy Group Project - July Cohort 2020
