doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'
      integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel="stylesheet" type='text/css' href="../style.css")
    title Core Dump - Welcome
  body.gradient
    div.wrapper
      div.leftbar
        p.logobox-a
        p.logobox-b
        p.logobox-c
        a(href='http://localhost:8088/').logo COREDUMP
      div.center
        span.search
          form(method='get' action='/search/')
          span.button.btn.btn-info Search
          input(type='search' class='searchinput' placeholder='  search coredump')
          a(href='http://localhost:8088/login').login Login
          a(href='http://localhost:8088/signup').signup Sign Up
          span.avatar
        p.line
      div.loginbox
        form(method='get' action='/login')
        p.loginhead LOGIN
        div
          input(type='search' class='email' placeholder='  email')
          input(type='search' class='password' placeholder='  password')
        div
          input(type='checkbox' class='remember' value='rememberme')
          span Remember me
        div
          p
          button(type='submit').btn.btn-primary LOGIN
        div
          a(href='http://localhost:8088/signup').signup2 Sign Up
    div.gradient
