extends layout.pug
block content
  div.main-question
    h2 Top Questions
    button(type='submit').main-btn-question Ask a question
  div.main-list-question
    each question in topQuestions
      div.main-list-box
        p.main-questionSubject #{question.questionSubject}
        p.main-questionText #{question.questionText}
        p.main-user Author: #{question.userId}, Posted: #{question.createdAt}
