doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="../style.css" rel='stylesheet' type='text/css')
    title Search Results
  body
    table.results
      each question in relevantQuestions
        tr: td.resultSubject #{question.questionSubject}
        tr: td #{question.questionText}
        tr: td.questionFooter Author: #{question.userId}
        tr: td.questionFooter Posted: #{question.createdAt}
        tr: td.questionBreak
