div.leftbar.hidden
    div.sidebar
        div.box
            p.logobox-orange
            span
                img(src='/images/xMark.png').xmark.hidden
            p.logobox-white-border
            p.logobox-back-logo
            a(href='/').logo-text COREDUMP
            div.menu
                a(href='/').home Home
                div.public PUBLIC
                    p
                    a(href='/main').submenu-questions Recent Questions
                    //- if !signedIn
                    //-   p
                    //-   a(href='/postquestion').submenu-questions Ask Question
                    p
                    a(href='/users').submenu-users Users
