extends layout2.pug
block content
      div.signupbox
        form(method='get' action='/signup')
        p.signuphead SIGN UP
        div
          input(type='search' class='input-username' placeholder='  username')
        div
          input(type='search' class='input-email' placeholder='  email')
        div
          input(type='search' class='input-password' placeholder='  password')
        div
          input(type='search' class='input-confirmPassword' placeholder='  confirmPassword')
        div
          p
          button(type='submit').btn-signUp SIGN UP
      div.gradient
