/* .loginbox {
  box-sizing: border-box;
  width: 350px;
  height: 480px;
  border: 1px solid white;
  margin-top: 50px;
  margin-left: 585px;
  border-radius: 25px;
  background-color: white;
  opacity: 0.7;
  text-align: center;
}

.loginhead {
  font-size: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
}

.email {
  margin-top: 30px;
}

.password {
  margin-top: 20px;
}

.remember {
  margin-top: 50px;
  margin-right: 10px;
}


.footer {
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 0px 0px;
}




.signup2 {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
} */
