.mceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 125px;
  width: 90%;
}

.mceErrors {
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
}

.mceSubmit {
  margin-top: 10px;
  border-radius: 2px;
  float: right;
  right: 10px;
  height: 40px;

}

.testForm {
  display: flex;
  flex-direction: column;
}

.mceSubject {
  width: 99%;
  height: 30px;
  border-radius: 2px;
}

.mceBox {
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  border-radius: 2px;
}


.mceContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 25px;
  width: 90%;
}
