.signupbox {
  box-sizing: border-box;
  width: 65%;
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  opacity: 0.7;
}

.errors-container {
  box-sizing: border-box;
  width: 360px;
  height: 15px;
}

.sign-up-container {
  padding: 22%;
  /* font-size: large; */
  /* min-height: min-content; */
  padding-top: 4%;
  /* padding-bottom: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signuphead {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding-top: 2%;
  padding-bottom: 1%;
}

.label-username,
.label-email,
.label-password,
.label-confirmPassword {
  margin-top: 20px;
}

.input-username,
.input-email,
.input-avatar,
.input-password,
.input-confirmPassword,
#avatar {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  outline: none;
}

.btn-signUp {
  margin-top: 10%;
  margin-left: 40%;
  align-items: center;
  align-content: center;
}

select#avatar option[value="/images/avataaars.png"] {
  background-image: url("/images/avataaars.png");
}
select#avatar option[value="/images/avataaars(1).png"] {
  background-image: url("/images/avataaars(1).png");
}
select#avatar option[value="/images/avataaars(2).png"] {
  background-image: url("/images/avataaars(2).png");
}
select#avatar option[value="/images/avataaars(3).png"] {
  background-image: url("/images/avataaars(3).png");
}
select#avatar option[value="/images/avataaars(4).png"] {
  background-image: url("/images/avataaars(4).png");
}
select#avatar option[value="/images/avataaars(5).png"] {
  background-image: url("/images/avataaars(5).png");
}
select#avatar option[value="/images/avataaars(6).png"] {
  background-image: url("/images/avataaars(6).png");
}

/*
.input-username, .input-email,.input-avatar, .input-password, .input-confirmPassword, #avatar {
  box-sizing: border-box;
  width: 47%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-left: 50px;
}

.sign-up-form {
  box-sizing: border-box;
  width: 150%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.form-group {
  align-content: space-between;
} */
