.usersWrapper {
  display: flex;
  max-width: 66%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.userBox {
  /* border: 2px solid black ; */
  padding: 6px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 25% 25% 50%;
  grid-gap: 5px;
  width: 180px;
  position: relative;
}

.user {
  font-size: 14px;
  font-weight: normal;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.userName2 {
  grid-column: 2/2;
  grid-row: 2/3;
}

.cred {
  grid-column: 2/2;
  grid-row: 1/3;
  z-index: -5;
}

.avatar2 {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 50%;
  position: relative;
  top: 0px;
}

.userCard {
  display: grid;
  padding: 16px;
  width: 250px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 0.50fr 0.50fr 1fr;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
}

.userCard_userName {
  grid-column: 1/2;
  grid-row: 2/3;
}

.userCard_id {
  grid-column: 1/3;
  grid-row: 3/3;
}

.userCard_img {
  grid-column: 1/3;
  grid-row: 1/2;
}

.userCard_bio {
  grid-column: 1/3;
  grid-row: 4/4;
}

.user-delete-link:link {
  color: #FF5722;
  text-decoration: none;
}

.userName2>a:link {
  color: #0395a8;
  text-decoration: none;
}

.userName2>a:visited {
  color: #606161;
  text-decoration: none;
}
